/* html elements */

body {
    font-family: 'Quattrocento', serif;
    background-color: #be9f56;
}

h2 {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

input {
    color:#003e6b;
    margin: 15px 0;
}

select {
    margin: 15px 0;
}

/* hero styles */

.hero-header-big {
    height: 68vh;
}

.hero-header-small {
    height: 50vh;
}

.hero-full {
    height: 100vh;
    margin-bottom: 44px;
}

.hero-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text-position {
    padding: 3%;
    height: 100%;
    margin-top: -24px;
}

.hero {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1677845926/pancakes_wdqqib.jpg);
    background-position: center;
}

.hero-logout {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1678138549/pexels-lukas-13522702_maosc3.jpg);
    background-position: center;
}

.hero-add-child {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1680516666/pexels-elviss-railijs-bitans-1448665-web_aq59z6.jpg);
    background-position: top center;
}

.hero-edit-child {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1680518435/pexels-chan-walrus-958545-web_mrmfgn.jpg);
    background-position: center;
}

.hero-manage {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1680518200/pexels-nicola-barts-7937469-web_oqi0gh.jpg);
    background-position: center;
}

.hero-date-request {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1680518627/pexels-jer-chung-2116094-web_u42pji.jpg);
    background-position: center;
}

/* navigation styles */

.logo {
    width: 150px;
    height: 85px;
    margin-left: 15px;
}

.toggler-position {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 25px;
}

.navbar-transparency {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1% 0;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-shadow:focus {
    box-shadow: none;
    margin: 15px 15px 30px 15px;
}

li>a {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: #003e6b;
    font-size: 1.4rem;
    padding: 15px;
    text-align: right;
    text-decoration: none;
}

li>a:hover{
    color: #575756;
}

.navbar-toggler-icon > i {
    font-size: 3rem;
    text-align: right;
}

/* Font styles */

.large-text {
    font-size: 55px;
    text-align: center;
    padding-top: 50px;
}

.white-text {
    color: white;
    text-shadow: 2px 2px #575756;
}

.blue-text {
    color: #003e6b;
}

.center-align-text {
    text-align: center;
}

.applicable {
    font-size: smaller;
    font-style: italic;
}

.pupil-title {
    margin-bottom: 0.9rem;
    color: black;
}

/* button styles */

.navy-btn {
    background-color: #003e6b;
    color: #fff;
    background-image: none;
    text-shadow: none;
    margin-top: 5px;
    width: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navy-btn:hover {
    background-color: #fff;
    color: #003e6b;
    border-color: #003e6b;
    border-width: 2px;
}

.navy-btn-small {
    background-color: #003e6b;
    color: #fff;
    background-image: none;
    text-shadow: none;
    margin-top: 5px;
}

.navy-btn-small:hover {
    background-color: #fff;
    color: #003e6b;
    border-color: #003e6b;
    border-width: 2px;
}

.gold-btn {
    background-color: #be9f56;
    color: #000;
    background-image: none;
    text-shadow: none;
    margin-top: 5px;
    width: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.gold-btn:hover {
    background-color: #fff;
    color: #003e6b;
    border-color: #be9f56;
    border-width: 2px;
}

.btn-margin {
    margin-top: 15px;
}

/* Background / Box Styles */

.row {
    margin-left: 0;
    margin-right: 0;
}

.gold-background {
    background-color: #be9f56;
    padding-bottom: 100px;
    padding-top: 25px;
}

.box-heading-background {
    background-color: #003e6b;
    padding: 1%;
    color: #fff;
}

.box-heading-background > p > a {
    color:antiquewhite;
    text-decoration: underline;
}

.box-heading-background > form > a {
    color:antiquewhite;
    text-decoration: underline;
}

.box-heading-background >p > a:hover {
    color:#fff;
    text-decoration: underline;
}

.box-heading-background > form > a:hover {
    color:#fff;
    text-decoration: underline;
}

.box-body-background {
    background-color: #56a0d8;
    color: #000;
    width: 100%;
    padding: 4%;
}

.box-body-background > p {
    text-align: center;
    font-size: 2rem;
}

/* Modal Styles */
.modal-confirm {		
	color: #636363;
	width: 400px;
}

.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}

.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}

.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}

.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}

.modal-confirm .modal-body {
	color: #999;
}

.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
	color: #999;
}

.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #56a0d8;
}

.modal-confirm .icon-box i {
	color: #56a0d8;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}

.modal-confirm .btn-secondary {
	background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}

.modal-confirm .btn-danger {
	background: #56a0d8;
}

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #003e6b
}

/* footer styles */

.footer {
    background-color: #003e6b;
    color: #fff;
    padding-top: 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Media Queries */
@media (max-width: 790px) {
    .hide-element-mobile {
        display: none;
    }
  }

@media (max-width: 991px) {
    .navbar-transparency {
        margin-top: -5px;
        padding-right: 100px;
    }

    li>a {
        line-height: 5rem;
    }
  }

  @media (max-width: 390px) {
    .large-text{
        font-size: 45px;
    }
  }