/* html elements */

body {
    font-family: 'Quattrocento', serif;
    background-color: #be9f56;
}

h2 {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

input {
    color:#003e6b;
    margin: 15px 0;
}

select {
    margin: 15px 0;
}
/* hero styles */

.hero {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1677845926/pancakes_wdqqib.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 68vh;
}

.hero-admin {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1678138549/pexels-lukas-13522702_maosc3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 68vh;
}

.hero-logout {
    background-image: url(https://res.cloudinary.com/dd4cchm7g/image/upload/v1678138549/pexels-lukas-13522702_maosc3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-text-position {
    padding: 3%;
    height: 100%;
    margin-top: -24px;
}

/* navigation styles */

.logo {
    width: 150px;
    height: 85px;
    margin-left: 15px;
}
/* 
.navbar-background {
    background-color: rgba(255, 255, 255, 0.0);
    background-image: none;
    border: none;
    box-shadow: none;
} */

/* .logo{
    display: inline-block;
    float: left;
}

.nav-content {
    display: inline-block;
    float: right;
} */

.navbar-transparency {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3% 0;
}

@media (max-width: 991px) {
    .navbar-transparency {
        margin-top: -5px;
    }
  }

.remove-shadow:focus {
    box-shadow: none;
    margin: 15px 15px 30px 15px;
}

li>a {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: #003e6b;
    font-size: 1.4rem;
    padding: 15px;
    text-align: right;
    text-decoration: none;
}
li>a:hover{
    color: #575756;
}

/* .navbar-default .navbar-nav>li>a:hover {
    color: #575756;
} */
.navbar-toggler-icon > i {
    font-size: 3rem;
    text-align: right;
}

.large-text {
    font-size: 4rem;
    text-align: center;
    padding-top: 50px;
}

.white-text {
    color: white;
    text-shadow: 1px 1px #575756;
}

.center-align-text {
    text-align: center;
}

/* button styles */

.navy-btn {
    background-color: #003e6b;
    color: #fff;
    background-image: none;
    text-shadow: none;
    margin-top: 5px;
    width: 100%;
    font-size: 1.3rem;
}
.navy-btn:hover {
    background-color: #fff;
    color: #003e6b;
    border-color: #003e6b;
    border-width: 2px;
}

.gold-btn {
    background-color: #be9f56;
    color: #000;
    background-image: none;
    text-shadow: none;
    margin-top: 5px;
    width: 100%;
    font-size: 1.3rem;
}

.gold-btn:hover {
    background-color: #fff;
    color: #003e6b;
    border-color: #be9f56;
    border-width: 2px;
}

/* form > .gold-btn:hover {
    background-color: #fff;
    color: #003e6b;
    border-color: #be9f56;
    border-width: 1px;
} */

.btn-margin {
    margin-top: 15px;
}

.accordian-btn{
    width: 100%;
    background: #003e6b;
}

/* footer styles */

.footer {
    background-color: #003e6b;
    color: #fff;
    padding-top: 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.box-heading-background {
    background-color: #003e6b;
    padding: 1%;
    color: #fff;
}

.box-heading-background >p > a {
    color:antiquewhite;
    text-decoration: underline;
}

.box-heading-background > form > a {
    color:antiquewhite;
    text-decoration: underline;
}

.box-heading-background >p > a:hover {
    color:#fff;
    text-decoration: underline;
}

.box-heading-background > form > a:hover {
    color:#fff;
    text-decoration: underline;
}

/* .box-heading-background > form > button {
    color: #003e6b;
} */

.gold-background {
    background-color: #be9f56;
    padding-bottom: 100px;
    padding-top: 25px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.box-body-background {
    background-color: #56a0d8;
    color: #000;
    width: 100%;
    padding: 4%;
}

.box-body-background > p {
    text-align: center;
    font-size: 2rem;
}
@media (max-width: 790px) {
    .hide-element-mobile {
        display: none;
    }
  }

.accordian-item > h2 {
    margin: 0;
  }

.login-notice > h2 {
    color: black;
}

