{% extends "base.html" %}

<!-- Hero Area  -->
{% block hero%} <div class="hero-edit-child hero-image hero-header-big">{% endblock %}

  {% block content %}
  {% load crispy_forms_tags %}
  <div class="container">
    <div class="row">
      <div class="col hero-text-position">
        {% if user.is_authenticated %}
        {% if pupil.user_info == user %}

        <h1 class="white-text large-text">Update {{ pupil }}'s Regular Bookings</h1>

        {% else %}
        <h1 class="white-text large-text">You need to login to the correct account before you can edit this booking.</h1>

        {% endif %}
        {% else %}
        <h1 class="white-text large-text">Login to edit this booking</h1>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn navy-btn" role="button" href="{% url 'account_login' %}">Login</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

</div>

<!-- Body Area -->
{% if user.is_authenticated %}
{% if pupil.user_info == user %}
<div class="gold-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3 box-heading-background">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
            <button type="submit" class="gold-btn">Update Details</button>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}