{% extends "base.html" %}

{% block hero%} <div class="hero-logout">{% endblock %}

  {% block content %}
  {% load crispy_forms_tags %}
  <div class="container">
    <div class="row">
      <div class="col hero-text-position">

{% for parent in parents %} 

        {% if parent.user_info.pk == user.pk %}
        {{ parent.id }} {{parent_id }}
        <div class="col-md-6 offset-md-3 box-heading-background">
          <h1 class="white-text center-align-text">Edit your details</h1>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
              <p>
                <button type="submit" class="gold-btn">Update details</button>
              </p>
            </div>
          </form>
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% endblock %}