{% extends "base.html" %}

{% block hero%} <div class="hero">{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col hero-text-position">
      {% if user.is_authenticated %}
      <h1 class="white-text large-text">Book now</h1>
      {% else %}
      <h1 class="white-text large-text">Please login or sign up to book</h1>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn gold-btn" role="button" href="{% url 'account_signup' %}">Sign
            Up</a>

      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn navy-btn" role="button"
            href="{% url 'account_login' %}">Login</a>

      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>

      <div class="gold-background">
      {% if user.is_authenticated %}

  <div class="row gold-background">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6">
        <div class="box-heading-background">
          <h2>About Breakfast Club</h2>
        </div>
        <div class="row">
          <div class="box-body-background">
            <p><em>Individual and block bookings are available.</em></p>
            <p><strong>Starting Time:</strong> 7.45am</p>
            <p><strong>Cost:</strong> £2/child/day</p>
          </div>
        </div>
        <div class="row box-body-background">

      
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-heading-background">
          <h2>About Supper Club</h2>
        </div>
        <div class="row">
          <div class="box-body-background">
            <p><em>Individual and block bookings are available.</em></p>
            <p><strong>Collection Time:</strong> 6.00pm</p>
            <p><strong>Cost:</strong> £2.50/child/day</p>
          </div>
        </div>
        <div class="row box-body-background">
       
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %} 