{% extends "base.html" %}

{% block hero%} <div class="hero">{% endblock %}

  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col hero-text-position">
        {% if user.is_authenticated %}
        <h1 class="white-text large-text">Book a Breakfast and Supper Club</h1>
        {% else %}
        <h1 class="white-text large-text">Join our Breakfast and Supper Club</h1>
        {% endif %}
      </div>
    </div>
    <div class="container">
      <div class="row">

        {% if user.is_authenticated %}
        <div class="d-grid gap-2 col-6 mx-auto">
          <div class="hide-element-mobile"><a class="btn gold-btn" role="button" href="{% url 'new_booking' %}">Make a
              booking</a>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <div class="hide-element-mobile"><a class="btn navy-btn" role="button" href="{% url 'get_manage_booking' %}">Manage
              bookings</a>
          </div>
        </div>

        {% else %}
        <div class="d-grid gap-2 col-6 mx-auto">
          <div class="hide-element-mobile"><a class="btn gold-btn" role="button" href="{% url 'account_signup' %}">Sign Up</a>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <div class="hide-element-mobile"><a class="btn navy-btn" role="button" href="{% url 'account_login' %}">Login</a>
          </div>
        </div>
<!-- 
        <div class="hide-element-mobile">
          <div class="col-xs-6"> <a class="btn btn-default btn-lg gold-btn btn-block btn-margin"
              href="{% url 'account_signup' %}" role="button">Sign Up</a>
          </div>
        </div>
        <div class="hide-element-mobile">
          <div class="col-xs-6"> <a class="btn btn-default btn-lg navy-btn btn-block btn-margin"
              href="{% url 'account_login' %}" role="button">Login</a>
          </div>
        </div> -->

        {% endif %}

      </div>
    </div>
  </div>
</div>
<!-- <div class="col-md-6"></div> -->
</div>
</div>
<div class="row gold-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="box-heading-background">
          <h2>About Breakfast Club</h2>
        </div>
        <div class="row">
          <div class="box-body-background">
            <p><em>Individual and block bookings are available.</em></p>
            <p><strong>Starting Time:</strong> 7.45am</p>
            <p><strong>Cost:</strong> £2/child/day</p>
          </div>
        </div>
        <div class="row box-body-background">

          {% if user.is_authenticated %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="{% url 'new_booking' %}"
              role="button">Make a
              Booking</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="{% url 'get_manage_booking' %}">Manage
              Bookings</a>
          </div>

          {% else %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="{% url 'account_signup' %}"
              role="button">Sign
              Up</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="{% url 'account_login' %}"
              role="button">Login</a>
          </div>

          {% endif %}
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-heading-background">
          <h2>About Supper Club</h2>
        </div>
        <div class="row">
          <div class="box-body-background">
            <p><em>Individual and block bookings are available.</em></p>
            <p><strong>Collection:</strong> 6.00pm</p>
            <p><strong>Cost:</strong> £2.50/child/day</p>
          </div>
        </div>
        <div class="row box-body-background">
          {% if user.is_authenticated %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="{% url 'new_booking' %}"
              role="button">Make a
              Booking</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="{% url 'get_manage_booking' %}"
              role="button">Manage
              Bookings</a>
          </div>

          {% else %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="{% url 'account_signup' %}"
              role="button">Sign
              Up</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="{% url 'account_login' %}"
              role="button">Login</a>
          </div>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}