{% extends "base.html" %}

{% block hero%} <div class="hero-admin">{% endblock %}

  {% block content %}
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 hero-text-position">
    {% if user.is_authenticated %}
    <h1 class="white-text large-text">Manage your existing bookings</h1>
    {% else %}
    <h1 class="white-text large-text">You must be logged in to access this page.</h1>
    {% endif %}
</div>
</div>
</div>
<div class="gold-background">
  <div class="row">
    {% if user.is_authenticated%}
    <div class="col-md-6">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button accordian-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body box-body-background">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button  accordian-btn collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body box-body-background">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button  accordian-btn collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body box-body-background">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
              plugin adds the appropriate classes that we use to style each element. These classes control the overall
              appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
              CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
              <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>{% endif %}
    </div>
    </div>
  </div>
</div>
<!-- <div class="col-xs-12 col-lg-8 col-lg-offset-2 hero-text-position">
        {% if user.is_authenticated %}
        <h1 class="white-text large-text">Welcome</h1>
        <div class="hide-element-mobile"><div class="col-md-6"> <a class="btn btn-default btn-lg gold-btn btn-block btn-margin" href="/accounts/signup"
            role="button">Make a booking</a>
        </div></div>
        <div class="hide-element-mobile"><div class="col-md-6"> <a class="btn btn-default btn-lg navy-btn btn-block btn-margin" href="/accounts/login"
            role="button">Manage bookings</a>
        </div></div>

        {% else %}
        <h1 class="white-text large-text">Join our Breakfast and Supper Club</h1>
        <div class="hide-element-mobile"><div class="col-xs-6"> <a class="btn btn-default btn-lg gold-btn btn-block btn-margin" href="/accounts/signup"
            role="button">Sign Up</a>
        </div></div>
        <div class="hide-element-mobile"><div class="col-xs-6"> <a class="btn btn-default btn-lg navy-btn btn-block btn-margin" href="/accounts/login"
            role="button">Login</a>
        </div></div>

        {% endif %}

      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="row gold-background">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6">
        <div class="box-heading-background">
          <h2>About Breakfast Club</h2>
        </div>
        <div class="row">
          <div class="box-body-background">
            <p><em>Individual and block bookings are available.</em></p>
            <p><strong>Starting Time:</strong> 7.45am</p>
            <p><strong>Cost:</strong> £2/child/day</p>
          </div>
        </div>
        <div class="row box-body-background">

          {% if user.is_authenticated %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="/accounts/signup"
              role="button">Make a
              Booking</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="/accounts/login"
              role="button">Manage
              Bookings</a>
          </div>

          {% else %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="/accounts/signup"
              role="button">Sign
              Up</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="/accounts/login"
              role="button">Login</a>
          </div>

          {% endif %}
        </div>
      </div>

      <div class="col-md-6">
        <div class="box-heading-background">
          <h2>About Supper Club</h2>
        </div>
        <div class="row">
          <div class="box-body-background">
            <p><em>Individual and block bookings are available.</em></p>
            <p><strong>Collection Time:</strong> 6.00pm</p>
            <p><strong>Cost:</strong> £2.50/child/day</p>
          </div>
        </div>
        <div class="row box-body-background">
          {% if user.is_authenticated %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="/accounts/signup"
              role="button">Make a
              Booking</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="/accounts/login"
              role="button">Manage
              Bookings</a>
          </div>

          {% else %}
          <div class="col-lg-6"> <a class="btn btn-default btn-lg gold-btn btn-block" href="/accounts/signup"
              role="button">Sign
              Up</a>
          </div>
          <div class="col-lg-6"> <a class="btn btn-default btn-lg navy-btn btn-block" href="/accounts/login"
              role="button">Login</a>
          </div>

          {% endif %}
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}