{% extends "base.html" %}

<!-- Hero Area -->
{% block hero %}
<div class="hero-manage hero-header-small hero-image">
  {% endblock %}
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col hero-text-position">
        <!-- If logged in -->
        {% if user.is_authenticated %}
        <h1 class="white-text large-text">Manage Your Bookings</h1>
        <!-- Not logged in -->
        {% else %}
        <h1 class="white-text large-text">Please login to see this page</h1>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn navy-btn" role="button" href="{% url 'account_login' %}">Login</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Body Area -->
<div class="gold-background">
  <div class="container-fluid">
    <div class="row">
      <!-- If logged in, goes through all pupil information -->
      {% if user.is_authenticated%}
      {% for pupil in pupils %}
      <!-- Displays box of information for each pupil associated with current user (if applicable) -->
      {% if pupil.user_info.pk == user.pk %}
      <div class="col-md-6 box-heading-background">
        <div class="card box-body-background">
          <div class="card-body">
            <h2 class="pupil-title">{{ pupil.first_name_of_pupil }} {{ pupil.surname_of_pupil }},
              {{ pupil.get_year_gp_display }}</h2>
            {% if pupil.b_mon == True or pupil.b_tues == True or pupil.b_wed == True or pupil.b_thurs == True or pupil.b_fri == True %}
            <p class="center-align-text">Booking Status: {{ pupil.get_booking_approval_status_display }}</p>
            <h6 class="card-subtitle mb-2"><strong>Regular Breakfast Slots: </strong></h6>
            <ul>
              {% if pupil.b_mon == True %}<li>Monday</li>{% endif %}
              {% if pupil.b_tues == True %}<li>Tuesday</li>{% endif %}
              {% if pupil.b_wed == True %}<li>Wednesday</li>{% endif %}
              {% if pupil.b_thurs == True %} <li>Thursday</li>{% endif %}
              {% if pupil.b_fri == True %} <li>Friday</li>{% endif %}
            </ul>
            {% else %}<h6><em>No breakfast slots booked</em></h6>
            {% endif %}
            {% if pupil.s_mon == True or pupil.s_tues == True or pupil.s_wed == True or pupil.s_thurs == True or pupil.s_fri == True %}
            <h6 class="card-subtitle mb-2"><strong>Regular Supper Slots: </strong></h6>
            <ul>
              {% if pupil.s_mon == True %}<li>Monday</li>{% endif %}
              {% if pupil.s_tues == True %}<li>Tuesday</li>{% endif %}
              {% if pupil.s_wed == True %}<li>Wednesday</li>{% endif %}
              {% if pupil.s_thurs == True %} <li>Thursday</li>{% endif %}
              {% if pupil.s_fri == True %} <li>Friday</li>{% endif %}
            </ul>
            {% else %}
              <h6><em>No supper slots booked</em></h6>
            {% endif %}
            <h6><strong>Any Additional Requests</strong><span class="applicable"> (if applicable)</span><strong>
                :</strong></h6>
            <ul>
              <!-- Displays date request info relating to the particular pupil in the box -->
              {% for date_request in date_requests %}
              {% if date_request.pupil == pupil %} <li>{{ date_request.date_request }}
                ({{ date_request.get_type_of_request_display }}): {{ date_request.get_approval_status_display }}</li>
                <!-- Opportunity to delete request if not yet approved by admin (Modal to approve deletion)-->
              {% if date_request.approval_status == '0' %} <a href="#deleteDateModal{{ date_request.id }}" data-toggle="modal">
                <button class="navy-btn-small">Cancel this request </button>
              </a>
              <div id="deleteDateModal{{ date_request.id }}" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header flex-column">
                      <div class="icon-box">
                        <i class="fa-solid fa-x"></i>
                      </div>
                      <h4 class="modal-title w-100">Are you sure?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you wish to cancel this request? This process cannot be undone, and you will have
                        to make a new request.</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <a href="/delete_date/{{ date_request.id }}"><button type="button"
                          class="btn btn-danger">Delete</button></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}
            </ul>
            <!-- Buttons to edit pupil's regular sessions / make a date request for pupil -->
            <p class="card-text"> <a href="/amend_pupil/{{ pupil.id }}">
                <button class="navy-btn">Edit regular slots/contact details</button>
                <a href="/date_request/{{ pupil.id }}">
                  <button class="navy-btn">Make one-off date request</button>
                </a>
            </p>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}{% endif %}
    </div>
  </div>
</div>
{% endblock %}